@charset "UTF-8";

@font-face {
    font-family: 'Hanken';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root{

    /*Fonte principal do site*/
    --fonte-principal: 'Hanken';

    /* Cores que combinam com os icones dos itens avaliados*/
    --reacao-cor: hsl(0, 100%, 67%);
    --memoria-cor: hsl(39, 100%, 56%);
    --verbal-cor: hsl(166, 100%, 37%);
    --visual-cor: hsl(234, 85%, 45%);

    /*Cores do gradiente de fundo do card de resultado*/
    --cor-fundo1: hsl(252, 100%, 67%);
    --cor-fundo2: hsl(241, 81%, 54%);

    /*Cores do gradiente do circulo do card de resultado*/
    --cor-circulo1: hsla(256, 72%, 46%, 1);
    --cor-circulo2: hsla(241, 72%, 46%, 0);

    /*Cores dos titulos e botão (coloquei os nomes das cores em algumas variaveis pois é usada em mais de um lugar)*/
    --cor-azul-palido: hsl(221, 100%, 96%);
    --cor-titulo-res: hsl(241, 100%, 89%);
    --cor-azul-escuro: hsl(224, 30%, 27%);
    --cor-branco-transparente: rgba(255, 255, 255, 0.493);

}

*{
    padding: 0;
    margin: 0;
    font-family: var(--fonte-principal), Arial, sans-serif;
}

body{
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


#res-card{
    display: inline-block;
    background-image: linear-gradient(var(--cor-fundo1), var(--cor-fundo2));
    min-width: 290px;
    color: white;
    text-align: center;
    border-radius: 20px;
    height: 400px;
}

#res{
    background-image: linear-gradient(var(--cor-circulo1), var(--cor-circulo2));
    width: 130px;
    height: 130px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 50%;
    
}

.res-titulo{
    font-size: 1.2em;
    padding: 10px;
    margin: 15px;
    color: var(--cor-branco-transparente);
}

#res h2{
    font-size: 3.5em;
    margin: 15px 0px 0px 0px;
}

#res > p{
    color: var(--cor-branco-transparente);
}

#nota{
    margin: 20px;
    font-size: 1.7em;
    font-weight: 700 ;
    color: white;
}

#nota-texto{
    font-size: 0.9em;
    width: 220px;
    margin: auto;
    color: var(--cor-branco-transparente);
}

#sum-card{
    background-color: var(--cor-azul-palido);
    display: inline-block;
    width: 290px;
    text-align: center;
    height: 400px;
}

.sum-titulo{
    color: var(--cor-azul-escuro);
    font-size: 1.2em;
    padding: 25px 0px 0px 30px;
    text-align: left;
}

#sum-card p{
    text-align: justify;
    margin: 40px 0px 40px 45px;
    font-weight: 700;
    font-size: .95em;
    display: flex;
    align-items: center;
}

p > span{
    color: var(--cor-azul-escuro);
}

p > img{
    margin-right: 10px;
}

#reacao{
    color: var(--reacao-cor);
}

#reacao > span{
    margin-left: 59px;
}

#memoria{
    color: var(--memoria-cor);
}

#memoria > span{
    margin-left: 49px;
}

#verbal{
    color: var(--verbal-cor);
}

#verbal > span{
    margin-left: 66px;
}

#visual{
    color: var(--visual-cor);
}

#visual > span{
    margin-left: 69px;
}

.nota-sum{
    font-weight: 500;
    color: var(--cor-azul-escuro);
}


#botao{
    background-color: var(--cor-azul-escuro);
    font-weight: 700;
    font-size: 1em;
    color: var(--cor-azul-palido);
    width: 220px;
    height: 43px;
    border-radius: 30px;
    border: 0px;
    
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    section{
        height: 100vh;
        width: 100vw;
        display: block;
    }

   #res-card{
    display: block;
    border-radius: 0px 0px 20px 20px;
   }

   #res-card h1{
    padding-top: 15px;
    margin-top: 0px;
   }

   #nota-texto{
    min-width: 260px;
   }

   #sum-card{
    width: 100%;
    display: block;
    text-align: center;
   }

   #sum-card h2{
    margin: 0px;
    display: block;
    margin: auto;
   }

   #sum-card p{
    margin: 60px 140px;
   }

   #botao{
    width: 330px;
    height: 60px;
   }
} 
    
