@charset "UTF-8";

@font-face {
    font-family: 'Hanken';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root{

    /*Fonte principal do site*/
    --fonte-principal: 'Hanken';

    /* Cores que combinam com os icones dos itens avaliados*/
    --reacao-cor: hsl(0, 100%, 67%);
    --memoria-cor: hsl(39, 100%, 56%);
    --verbal-cor: hsl(166, 100%, 37%);
    --visual-cor: hsl(234, 85%, 45%);

    /*Cores do gradiente de fundo do card de resultado*/
    --cor-fundo1: hsl(252, 100%, 67%);
    --cor-fundo2: hsl(241, 81%, 54%);

    /*Cores do gradiente do circulo do card de resultado*/
    --cor-circulo1: hsla(256, 72%, 46%, 1);
    --cor-circulo2: hsla(241, 72%, 46%, 0);

    /*Cores dos titulos e botão (coloquei os nomes das cores em algumas variaveis pois é usada em mais de um lugar)*/
    --cor-azul-palido: hsl(221, 100%, 96%);
    --cor-titulo-res: hsl(241, 100%, 89%);
    --cor-azul-escuro: hsl(224, 30%, 27%)

}

*{
    padding: 0;
    margin: 0;
    font-family: var(--fonte-principal), Arial, sans-serif;
}

body{
    width: 100 vw;
    height: 100 vh;
}

#res-card{
    display: inline-block;
    background-image: linear-gradient(var(--cor-fundo1), var(--cor-fundo2));
    max-width: 350px;
    color: white;
    text-align: center;
    border-radius: 20px;
    height: 450px;
}

.titulo{
    font-size: 1.2em;
    padding: 10px;
}

#sum-card{
    background-color: purple;
    border-radius: 20px;
    display: inline-block;
    max-width: 350px;
    text-align: center;
    height: 450px;
}