@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main{
    margin: 100px auto 0px auto;
    background-color: white;
    width: 330px;
    border-radius: 15px;
    text-align: center;
}

img{
    max-width: 300px;
    margin: 15px auto;
    border-radius: 10px;
}

h1{
    font-size: 1.1em;
    color: hsl(218, 44%, 22%);
    width: 270px;
    margin: auto;
}

p{
    color:hsl(220, 15%, 55%);
    font-size: 0.85em;
    margin: auto;
    width: 280px;
    padding: 15px 15px 40px 15px;
}