@charset "UTF-8";

@media screen and (min-width: 1000px) {
    body{
        height: 700px
    }
    
    body > main#principal{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#sedans{
        display: inline-block;
        border-radius: 10px 0px 0px 10px;
        height: 500px;
        width: 320px;
    }

    section#suvs{
        display: inline-block;
        width: 320px;
        height: 500px;
    }

    section#luxuosos{
        display: inline-block;
        border-radius: 0px 10px 10px 0px;
        width: 320px;
        height: 500px;
    }

    p{
        margin-bottom: 60px;
    }
}